@import url("../../index.scss");

.top-nav-wrapper {
  background-color: #080808;
  .top-nav-inner {
    max-width: 1110px;
    margin: 0 auto;
    background-color: #1b1b1b;
    padding: 24px 95px 28px 95px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      justify-content: space-between;

      li {
        color: #9c9c9c;
        font-size: 14px;
        letter-spacing: 1%;
        font-family: "IBMPlex-Regular";
        text-decoration: none;
      }
    }
  }
}
