@import url("../../index.scss");

.navigation-items {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;

  a {
    align-self: center;
    margin-right: 20px;
    color: currentColor;

    .navigation-item {
      font-size: 20px;
      font-family: "IBMPlex-Regular";
      text-decoration: none;
    }
  }
}
