@import url("../../index.scss");

.contact-menu-wrapper {
  background-color: currentColor;
  padding: 80px 0;

  .contact-menu-inner {
    max-width: 570px;
    margin: 0 auto;

    .contact-menu-title {
      text-align: center;
      font-family: "Raleway-ExtraBold";
      font-size: 34px;
      color: currentColor;
      margin-bottom: 10px;
    }

    .contact-menu-desc {
      text-align: center;
      font-family: "IBMPlex-Regular";
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 1%;
      color: currentColor;
      margin-bottom: 40px;
    }
  }
}
