.footer-wrapper {
  background-color: currentColor;
  padding: 26px 0;

  .footer-inner {
    max-width: 1110px;
    margin: 0 auto;
  }
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  li {
    list-style: none;

    a {
      font-size: 16px;
      text-decoration: none;
      color: currentColor;
      font-family: "Raleway-ExtraBold";
    }
  }
}
